#dropdown {
    position: absolute;
    top:110px;
    right:20px;
    background-color:#FFF;
    padding:4px;
    font-family: Arial, sans-serif;
    font-size:14px;
    border: 2px outset #DFF2FF;
    line-height:1.3em;
}
